# Clase 1

In [1]:
print("Hola Mundo")

Hola Mundo

In [11]:
mi_nombre = "Felipe Soriano"
mi_edad = 18
mi_correo = "felipesorianozacarias@gmail.com"
mi_altura = 1.60

In [12]:
print (mi_nombre)
print (mi_edad) 
print (mi_correo)
print (mi_altura)

Felipe Soriano
18
felipesorianozacarias@gmail.com
1.6

In [27]:
valor_1 = 35
valor_2 = 10

In [19]:
suma = valor_1 + valor_2
resta = valor_1 - valor_2
multiplicacion = valor_1 * valor_2
division = valor_1 / valor_2

In [21]:
print (suma)
print (resta)
print (multiplicacion)
print (division)

45
25
350
3.5

## Format

In [22]:
print(f'La suma de {valor_1} y {valor_2} da como resultado {suma}')

La suma de 35 y 10 da como resultado 45

In [25]:
#Un string multiplicado

valor_1 = input ("Dame un valor")
print (valor_1)
valor_1 * 3

20

'202020'

In [26]:
#Un numero multiplicado

valor_1 = int (input ("Dame un valor") )
print (valor_1)
valor_1 * 3

20

60

In [28]:
valor_1 = int (input ("Dame un valor") )
valor_2 = int (input ("Dame otro valor") )

suma = valor_1 * valor_2
print (f"La suma de {valor_1} y {valor_2} es igual a {suma}")

La suma de 2 y 3 es igual a 6

# Reto 1

In [47]:
titulo_libro = "El libro de la selva"

In [48]:
numero_suerte = 117

In [43]:
edad_1 = 18
edad_2 = 18
edad_3 = 18

suma_edades = edad_1 +edad_2 + edad_3
print (f"La suma de las edades de Luis, Sofia y Felipe es de {suma_edades} años")

La suma de las edades de Luis, Sofia y Felipe es de 54 años

In [42]:
valor1 = 23
valor2 = 56
valor3 = 87

In [44]:
suma = valor1 + valor3
print (suma)

110

In [45]:
resta = valor2 - valor3
print (resta)

-31

In [46]:
multiplicacion = valor1 * valor2
print (multiplicacion)

1288

In [40]:
Ancho_terreno = 25
Largo_terrero = 30
Area_terreno = Ancho_terreno * Largo_terrero

print(f'El área del terreno con un ancho de {Ancho_terreno} mts y de largo {Ancho_terreno} mts, es de: {Area_terreno} mts cuadrados')

El área del terreno con un ancho de 25 mts y de largo 25 mts, es de: 750 mts cuadrados

In [39]:
nombre = input ("Dame tu nombre")
edad = int ( input("Dame tu edad") )

print (f"Su nombre es: {nombre} y su edad es de {edad} años")

Su nombre es: felipe y su edad es de 18 años

In [38]:
total = int (input("Dame un numero") )
porcentaje = int (input("¿Qué porcentaje quieres sacar?") )
resultado = porcentaje * total 
resul = resultado / 100
print(f"El {porcentaje} % de {total} es de {resul}")

El 3 % de 2 es de 0.06

# Actividad 2

In [30]:
32 >= 42

False

In [33]:
20 <= 15

False

In [32]:
55 >= 54

True

In [34]:
22 >= 22

True

In [31]:
5 == 5

True

In [36]:
if 1.60 > 1.20:
    print ("Puedes subir")
else:
    print ("No puedes subir")

Puedes subir